@import "tailwindcss";

@import "tailwindcss";

.containerPrv {
  width: 100%;
}

@media (width >= 40rem) {
  .containerPrv {
    max-width: 40rem; /* 640px */
  }
}

@media (width >= 48rem) {
  .containerPrv {
    max-width: 48rem; /* 768px */
  }
}

@media (width >= 64rem) {
  .containerPrv {
    max-width: 64rem; /* 1024px */
  }
}

@media (width >= 80rem) {
  .containerPrv {
    max-width: 80rem; /* 1280px */
  }
}